<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atay Zozan</title>

    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/portfolio.css') }}" >

    <link rel="stylesheet" href="{{ asset('/font-awesome/css/font-awesome.min.css') }}"  >
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand " href="#page-top">Atay Zozan</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#lang">Langages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#cv">cv</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#veille">veille</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Header -->
<header class="masthead">
    <div class="container">
        <img class="img-fluid" src="{{ asset('img/profile.png') }}" alt="portrait" />

        <div class="intro-text">
            {{ 'Développeur web front-end'|title }}
        </div>
        <div class="intro-text-main">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum</p>

        </div>
    </div>
</header>

<!-- lang&apt section -->
<section id="lang">
    <div class="container">
        <h2 class="text-center">Langages</h2>
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/logos/html5-03.jpg') }}" alt="" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/logos/css3.jpg') }}" alt="" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum...</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/logos/php-01.svg') }}" alt="" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/logos/js.svg') }}" alt="" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/logos/jquery-01.png') }}" alt="" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('img/logos/sql-2.svg') }}" alt="" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum...</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- expé Section -->
<section class="xp" id="cv">
    <div class="container">
        <h2 class="text-center">Expériences professionnelles</h2>

        <table class="table table-striped table-hover table-bordered">

            <tbody>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            <tr>
                <th>poste occupé</th>
                <th>fonctions</th>
                <th>société</th>
                <th>année</th>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- veille Section -->

<section>

</section>


<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center">Contact</h2>
        

        <div class="row">
            <div class="col-lg-8 mx-auto">

                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Nom</label>
                            <input class="form-control" id="name" type="text" placeholder="Nom" required data-validation-required-message="Veuillez écrire votre nom ici.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Adresse email</label>
                            <input class="form-control" id="email" type="email" placeholder="Adresse email" required data-validation-required-message="Veuillez écrire votre adresse email ici.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Numéro de télephone</label>
                            <input class="form-control" id="phone" type="tel" placeholder="Numéro de télephone" required data-validation-required-message="Veuillez écrire votre numéro de téléphone ici.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Message</label>
                            <textarea class="form-control" id="message" s="5" placeholder="Message" required data-validation-required-message="Laissez un message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>



<div class="scroll-top d-lg-none">
    <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
{% block javascript %}
<script type="text/javascript" src="{{ asset('bootstrap/js/free.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/jquery/jquery.easing.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/jquery/jquery.easing.compatibility.js') }}"></script>
{% endblock %}

</body>

</html>
